div {
  display: flex;
  margin: auto;
  width: 50%;
  border-style: 2px solid ;
  padding: 10px;

}
td{
  background-color: rgb(33, 218, 193);
  color: blue;
  font-family: 'BioRhyme', serif;
  font-family: 'Oswald', sans-serif;

}

th{
  height: 70px;
  background-color:rgb(81, 163, 122);
  color:aliceblue;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

tr{
  background-color:deeppink
}

h1{
  font-weight: bolder;
  font-size:xx-large;
  text-align: center;
}

a{
  font-weight: bolder;

}

table, th, td {
  border: 1px solid;
  border-style: double;
}

table{
  width: 100%;
  margin-top: 100px;
  margin-left: 50px;
}

th, td{
  padding: 15px;
  text-align: left; 
}

td:hover {background-color: tomato;}

header {
  background-color:coral;
  height: 100px;
  margin-bottom: 30px;
}

nav {
  width: 960px;
  margin: auto;
}

header img {
  float: left;
  margin-top: 0px;
  height: 68px;
}

header ul {
  display: flex;
  justify-content: space-around;
  background-color: coral;
}

header li {
  margin-top: 40px;
}

a {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: rgb(5, 16, 26);
}

main {
  width: 960px;
  margin: auto;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  display: flex;
  margin-bottom: 30px;
}

article {
  padding-left: 10px;
}

p {
  overflow: auto;
  height: 400px;
}

section article h2 {
  font-weight: bold;
}

button {
  transition: 200ms;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
}

button:hover {
  background-color:deeppink;
}

footer {
  display: block;
  block-size: 100px;
  background-color: rgb(224, 120, 22);
}

main h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  color:dodgerblue;
}

main p {
  font-family: 'Bungee Spice', cursive;
  font-size: 50px;
}

*{
  background-color:cyan;
}
article image {
  display: flex;
  float:right
}

form {
  display: flex;
  flex-direction:column;
  width: 500px;
}
#customers {
display: flex;
border-style: solid;
border-color: black ;
font-size: larger;
font-weight: bold;
color:orangered;
width: 100%;

}

#sales {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color:darkblue;
  font-size: larger;
  width: 50%;
  justify-content: space-between;
 
}

#cookie {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: crimson;
  font-size: larger;
  width: 100%;
  margin-bottom: 30px;
}

legend {
  width: 100%;
  text-align: center;
}

label {
  width: 100%;
  text-align: center;
  
}

